RewriteEngine on

 Rewriterule ^content/?      \/dikti_rkakl/isi.php
 Rewriterule ^process/?      \/dikti_rkakl/aksi.php
 Rewriterule ^login/?      \/dikti_rkakl/core/login_proses.php
 Rewriterule ^signout/?      \/dikti_rkakl/logout.php