RewriteEngine on
 Rewriterule ^content/?      \/dikti/isi.php
 Rewriterule ^process/?      \/dikti/aksi.php
 Rewriterule ^login/?      \/dikti/core/login_proses.php
 Rewriterule ^signout/?      \/dikti/logout.php
